<link rel="stylesheet" href="static/css/homePage/homePage.css" />

<div id="box-ctn" class="box-ctn">
	<h2 class="box-ctn__title">SỞ GIÁO DỤC VÀ ĐÀO TẠO TỈNH KIÊN GIANG<br
		/>TRƯỜNG THPT NGUYỄN HÙNG SƠN</h2>

	<h2 class="box-ctn__project-title">
		<span>Tiện ích bổ sung hỗ trợ quản lí lớp học trên Google Meet
			<br />Extension:</span>
		<span>CONS Meeting Education</span>
	</h2>

	<div class="box-ctn__project-img">
		<img src="static/img/project-img.png" alt="" />
	</div>

	<form class="box-ctn__go-to-meet-bar">
		<span>Link Google Meet</span>
		<input type="url" placeholder="https://...." />
		<button>
			<p>Vào học</p>
		</button>
	</form>

	<div class="box-ctn__feature-bar">
		<a
			class="feature-bar__install"
			href="https://youtu.be/kgM6c4hwkoM"
			target="_blank"
			rel="noopener noreferrer"
		>
			<p>
				<i class="far fa-book"></i>
				Hướng dẫn cài đặt
			</p>
		</a>
		<a
			class="feature-bar__usage"
			href="https://youtu.be/oh_p07jJva8"
			target="_blank"
			rel="noopener noreferrer"
		>
			<p>
				<i class="far fa-book"></i>
				Hướng dẫn sử dụng
			</p>
		</a>
		<a class="feature-bar__download" href="/download">
			<p>
				<i class="far fa-arrow-to-bottom"></i>
				Download
			</p>
		</a>
	</div>
</div>

<script src="static/js/homePage/homePage.js"></script>