$primaryColor: #1a73e8;
$primaryColorLight: #62a8ff;
$primaryColorBlack: #0055bd;
$primaryColorDark: #00469b;
$secondColor: #e66b00;
$textColor: #575757;
$textColorLight: #8d8d8d;
$textColorBlack: #414141;
$textColorDark: #2b2b2b;
