<link rel="stylesheet" href="/static/css/addStudent/addStudentSuccess.css" />

<div id="add-student-page">
	<div class="add-student-container">
		<a href="{{onlineFormUrl}}" class="back-button-container">
			<i class="fad fa-long-arrow-left"></i>
		</a>

		<img src="/static/img/add-student-success.svg" alt="" class="thumb" />

		<div class="success-message-container">
			<h3>Nhập thông tin thành công!</h3>
		</div>
	</div>
</div>

<script src="/static/js/addStudent/addStudentSuccess.js"></script>